body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
}

.header{
    display: flex;
    justify-content: center;
}

.header_logo{
    width:50%;
    color: #808080;
}

.section_research{
    width:100%;
}

.research_bar{
    width: 97%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    background-color: rgb(233, 233, 230);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}

.search_input{
    height: 50px;
    width: 100%;
    border-style: none;
    background-color: rgb(233, 233, 230);
}

.search_btn{
    position:absolute;
    right:10px;
    height: 50px;
    width: 50px;
    border-style: none;
}

.section_key_words{
    display:flex;
    flex-flow: column nowrap;
}

.key_words{
    display:flex;
    flex-flow: row nowrap;
    padding:10px;
}

.flex_row{
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1%;
}

.filters > *{
    border-radius: 5px;
    padding: 10px;
    margin-right: 1%;
}

.icon{
    color: white;
    padding-right: 15px;
}

.filter_container{
    position: relative;
}

.input_filter, .buttonFilter{
    border-style: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
}

.input_filter{
    background-color: transparent;
    outline:none;
}
.input_filter::placeholder{
    color:white;
}

::-ms-input-placeholder{
    color:white;
}

.filter_option_list{
    position:absolute;
    height: 300px;
    display: none;
}

.list_display{
    color: white;
    display: grid;
    align-items: start;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.list_display > *{
    list-style-type: none;
}

.blue{
    background-color: rgb(42, 114, 248);
}
.red{
    background-color: rgb(247, 77, 47);
}
.green{
    background-color: rgb(72, 202, 159);
}

.section_recipes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.recipe_container{
    width:30%;
    max-width:800px;
    height:620px;
    background-color: rgb(233, 233, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    margin: 20px;
}

.recipe_text_container{
    padding:2%;
}

.filter_options_list{
    display:none;
}

.empty_image_container{
    height: 50%;
    width: 100%;
    background-color: #adadad;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.first_line_recipe{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
}

.second_line{
    display: flex;
    flex-flow: row nowrap;
}
.recipe_ingredients_container{
    width:50%;
}

.recipe_div_preparation{
    overflow:hidden; 
    white-space:pre-line; 
    text-overflow:ellipsis;
    width:300px;
    max-height: 215px;
    font-size:1rem;
    margin-right:4%;
}

.tag_container_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:fit-content;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    margin:2%;
    border-radius: 8px;
}