body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

header{
    
}
.logo_img{
    width:50%;
}

input, button{
    border-style: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
 /*   cursor: pointer;*/
}
.recherche{

}

.search_input{

}

.filters{

}

.filters_options{

}

.recipes{
    
}